@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri-Bold.eot');
    src: local('Calibri Bold'), local('Calibri-Bold'),
    url('../fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calibri-Bold.woff2') format('woff2'),
    url('../fonts/Calibri-Bold.woff') format('woff'),
    url('../fonts/Calibri-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.eot');
    src: local('Calibri'),
    url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calibri.woff2') format('woff2'),
    url('../fonts/Calibri.woff') format('woff'),
    url('../fonts/Calibri.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


*,::after,::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth
}

body {
    font-family: Calibri,sans-serif;
    font-style: normal;
    font-weight: 400;
    min-width: 320px;
    margin: 0;
    min-height: 100vh;
}
.container{
    padding: 0 15px;
}
.main-bg{
    background-image: url("../img/main_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 102px);
}
.regular-bg{
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    min-height: calc(100vh - 102px);
}
.main-content{
    padding-top: 127px;
    padding-bottom: 54px;
    text-align: center;
}
.regular-content{
    padding: 40px 0;
    text-align: center;
}

.icon-content{
    padding: 97px 0 143px;
    text-align: center;
}

.small-content{
    padding: 65px 0 5px;
    text-align: center;
}

.img-win{
    max-width: 450px;
    width: 100%;
    margin: 0 auto 22px;
    display: block;
}
.img-icon{
    margin-bottom: 50px;
}
.items-holder{
    display: flex;
    gap:17px;
    max-width: 393px;
    margin: 0 auto 15px;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.item:last-of-type .item-text{
    margin-left: -14px;
}
.item-icon{
    height: 72px;
    width: 72px;
    border-radius: 12px;
    border: 1px solid #337BCC;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}
.item-icon.red-mode{
    border: 1px solid #C3153D;
}
.item-text{
    color: #337BCC;
    text-align: center;
    text-shadow: -2px 0 #FEFEFE, 0 2px #FEFEFE, 2px 0 #FEFEFE, 0 -2px #FEFEFE;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.item-row{
    display: flex;
    gap:19px;
    max-width: 393px;
    margin: 0 auto 44px;
}
.row-text{
    color: #C3153D;
    text-shadow: -2px 0 #FEFEFE, 0 2px #FEFEFE, 2px 0 #FEFEFE, 0 -2px #FEFEFE;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.38px;
    text-align: left;
}
.icon-button{
    margin-bottom: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn{
    height: 80px;
    padding: 0 28px;
    border: none;
    color: #FFF;
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 12px;
    background: #337BCC;
    transition: background-color 1s ease;
    cursor: pointer;
}

.btn:hover{
    background: linear-gradient(90deg, #C20A41 20%, #91459F 49.08%, #025EBF 80%);
}

.btn:focus{
    background: #337BCC;
}
.btn:active{
    background: #337BCC;
}
.btn-small{
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
}
.swiper{
    max-width: 408px;
    margin: 0 auto 30px;
    padding-bottom: 40px !important;
}
.item-slider{
    height: auto!important;
}

.slider-text{
    color: #337BCC;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}
.button-holder{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 14px;
    grid-row-gap: 14px;
    max-width: 368px;
    margin: 0 auto 35px;
}
.buttons-wrap{
    display: flex;
    flex-direction: column;
    gap:14px;
    max-width: 368px;
    margin: 0 auto 35px;
}
.double-btn{
    grid-column: span 2;
}
.star-text{
    color: #337BCC;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 22px;
    margin-top: 0;
}


.link{
    color: #337BCC;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    display: block;
}

.link.white-mode{
    color: #FFFFFF;
}

.regular-title{
    color: #337BCC;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    margin-top: 0;
    text-align: center;
}

.regular-title.big-mode{
    font-size: 39px;
}

.regular-text{
    color: #337BCC;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3px;
    margin: 0;
}

.regular-text.small-mode{
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
}
.phone-link{
    background:linear-gradient(90deg, #C20A41 20%, #91459F 49.08%, #025EBF 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    top: auto !important;
    bottom: 0 !important;
}

.swiper-pagination-bullet {
    height: 18px !important;
    width: 18px !important;
    background-color: #337BCC !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: #C3153D !important;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 1 !important;
    cursor: pointer !important;
    pointer-events: auto !important;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-55{
    margin-bottom: 55px;
}
.mt-50{
    margin-top: 50px;
}
.mt-90{
    margin-top: 90px;
}
.mt-140{
    margin-top: 140px;
}
.footer{
    background-color: #FFFFFF;
    text-align: center;
}
.footer img{
    display: flex;
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
}
.privacy-bg{
    background: #FFFFFF;
    max-width: 480px;
    margin: 0 auto;
    padding-top: 66px;
}
.main-list{
    margin: 0;
    padding: 0;
}
.sub-list{
    margin: 0;
    padding: 0;
}
.privacy-title{
    color: #337BCC;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.privacy-item{
    color: #586371;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 15px;
}
.privacy-text{
    color: #586371;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
}
ol { counter-reset: item }
li{ display: block }
li:before { content: counters(item, ".") " "; counter-increment: item }
@media (min-width: 414px) {
    .items-holder{
        gap:30px;
    }
    .item-row{
        gap:30px;
    }
    .row-text{
        font-size: 17px;
    }
    .regular-title{
        font-size: 35px;
    }
}
@media (min-width: 480px) {
    .main-content{
        padding-top: 178px;
        padding-bottom: 54px;
        text-align: center;
    }
}